
/tmp/SublimeLinter3-shelagh/MapSquares.scss
   2:2  error    Mixed tabs and spaces                       indentation
   5:3  error    Expected indentation of 1 tab but found 2   indentation
   7:4  error    Expected indentation of 2 tabs but found 3  indentation
   8:5  error    Expected indentation of 3 tabs but found 4  indentation
  10:5  error    Expected indentation of 3 tabs but found 4  indentation
  11:6  error    Expected indentation of 4 tabs but found 5  indentation
  13:3  error    Expected indentation of 3 tabs but found 2  indentation
  14:4  error    Expected indentation of 4 tabs but found 3  indentation
  14:4  warning  Expected `display`, found `border`          property-sort-order
  15:4  error    Expected indentation of 4 tabs but found 3  indentation
  16:4  error    Expected indentation of 4 tabs but found 3  indentation
  17:4  error    Expected indentation of 4 tabs but found 3  indentation

✖ 12 problems (11 errors, 1 warning)
