@import '../../stylesheets/mixins';

@include media-breakpoint(md) {
	main {
		background-position: center center !important;
	}
}

dl {
	&.rules {
		list-style-type: disc;

		dt {
			margin-top: 10px;
		}
	}
}
