.react-bootstrap-table th {
  border-color: #51376b !important;
  border-top-style: solid !important;
  border-top-width: 1px !important;
}

.react-bootstrap-table th:not(:first-child) {
  border-left-color: #fff !important;
}

.react-bootstrap-table th:not(:last-child) {
  border-right-color: #fff !important;
}

.react-bootstrap-table th {
  border-color: #51376b !important;
}

.react-bootstrap-table td {
  border-color: #51376b !important;
}
