@import '../../stylesheets/colors';
@import '../../stylesheets/mixins';

.game-holder {
	position: relative;
	width: 100%;
}

.dashboard {
	background-color: $dashboard-bg;
	color: $dashboard-color;
	margin: -10px -15px 0;
	padding: 8px 0;

	@include media-breakpoint(md) {
		@include horizontal-centerer;
		border-radius: 8px;
		float: left;
		margin: -5px 0 10px;
		padding: 8px 16px;
	}
}

.game-status {
	@include horizontal-centerer;
	float: left;
	font-size: 16px;
	font-weight: bold;

	span {
		margin: 0 10px;
	}
}

.game-controls {

	.holder {
		@include horizontal-centerer;
		clear: both;
		float: left;
		margin: 8px 0 0;
	}


	.hint {
		clear: both;
		display: block;
		text-align: center;
	}
}

.pattern-type {
	border: 1px solid $pts-border;
	border-radius: 8px;
	float: left;
	list-style-type: none;
	margin: 0 8px 0 0;
	overflow: hidden;
	padding: 0;

	li {
		background: $pts-bg;
		color: $pts-border;
		float: left;
		line-height: 1.5;
		padding: 6px 8px;

		&.selected {
			background: $pts-selected-bg;
			color: $input-color;
		}

		&:not(:last-child) {
			border-right: 1px solid $pts-border;
		}
	}
}


.id-input {
	left: 50%;
	position: absolute;
	top: 0;
	z-index: 100;

	.holder {
		background: $input-bg;
		border: 1px solid $pts-bg;
		border-radius: 8px;
		margin-left: -50%;
		padding: 6px 8px;
		position: relative;

	}

	input {
		background: $input-bg;
		color: $input-color;
		margin: 0;
		padding: 0;

		&:disabled {
			background-color: transparent;
			color: $dashboard-color;
		}
	}
}
