@import '../../stylesheets/colors';
@import '../../stylesheets/mixins';

.game-holder {
	position: relative;
	width: 100%;
}

.dashboard {
	background-color: $dashboard-bg;
	color: $dashboard-color;
	margin: -10px -15px 0;
	overflow: hidden;
	padding: 8px 0;

	@include media-breakpoint(md) {
		@include horizontal-centerer;
		border-radius: 8px;
		float: left;
		margin: -5px 0 10px;
		padding: 8px 16px;
	}
}

.game-status {
	@include horizontal-centerer;
	float: left;
	font-size: 16px;
	font-weight: bold;

	span {
		margin: 0 10px;
	}
}

.game-controls {
	@include horizontal-centerer;
	clear: both;
	float: left;
	margin: 8px 0 0;
}

.pattern-type {
	list-style-type: none;
	float: left;

	li {
		float: left;

		&.selected {
			border: 1px solid white;
		}
	}
}
