@import '../../stylesheets/colors';
@import '../../stylesheets/mixins';

// pattern
.pattern-holder {
	margin: 8px 0 0;
	position: relative;
	width: 100%;

	ul {
		background: $pattern-bg;
	}

	.frame {
		@include horizontal-centerer;
		clear: both;
		float: left;
		margin-bottom: 8px;

		.status-text {
			font-size: 24px;
			position: absolute;
			text-align: center;
			top: 30px;
			width: 100%;
		}
	}
}

.pattern {
	@include horizontal-centerer;
	clear: both;
	float: left;
	margin-bottom: 8px;
	overflow: hidden;
	padding: 0;
}

.patternrow {
	border-left: 1px solid $ms-border;
	border-top: 1px solid $ms-border;
	clear: both;
	float: left;
	list-style-type: none;
	padding: 0;

	&:last-child {
		border-bottom: 1px solid $ms-border;
	}
}

.pattern-square {
	float: left;
	font-size: 0;

	&.blue {
		polygon {
			fill: $ms-blue;
		}
	}

	&.red {
		polygon {
			fill: $ms-red;
		}
	}

	&.yellow {
		polygon {
			fill: $ms-yellow;
		}
	}

	&.green {
		polygon {
			fill: $ms-green;
		}
	}

	span {
		background-color: $ms-bg;
		display: inline-block;

		&:last-child {
			border-right: 1px solid $ms-border;
		}

		polygon {
			fill: $ms-blue;
		}
	}

	&.match {
		span {
			background-color: $ms-match-3;
		}
	}
}

// game map
.map-holder {
	position: relative;
	width: 100%;
}

.game-map {
	@include horizontal-centerer;
	background: $map-bg;
	border: 1px solid $ms-border;
	border-radius: 12px;
	clear: both;
	float: left;
	margin-bottom: 8px;
	overflow: hidden;
	padding: 4px;
}

.maprow {
	clear: both;
	float: left;
	font-size: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.map-square {
	cursor: pointer;
	display: inline-block;
	font-size: 0;
	position: relative;	

	&.blue {
		polygon {
			fill: $ms-blue;
		}
	}

	&.red {
		polygon {
			fill: $ms-red;
		}
	}

	&.yellow {
		polygon {
			fill: $ms-yellow;
		}
	}

	&.green {
		polygon {
			fill: $ms-green;
		}
	}

	span {
		background: $ms-bg;
		@include ms-gradient($ms-default-1, $ms-default-2);
		border: 1px solid $ms-border;
		border-radius: 12px;
		display: inline-block;
		position: relative;
		top: 0;
	}

	&.match {
		span {
			@include ms-gradient($ms-match-1, $ms-match-2);
		}
	}
}


