// main table-layout
$header-bg: #7580ac;
$header-color: #fff;

// mapsquare polygons
$ms-blue: #4285f4;
$ms-green: #00d490;
$ms-yellow: #ffcf50;
$ms-red: #da5847;

// mapsquare border:
$ms-border: #666;
$map-background: #ddd;
$ms-background: #fff;
$ms-match: #ffccff;


