// app
$body-bg: #eee;
$body-color: #083b55;

// main layout
$header-bg: #754e9a;
$header-color: #fff;

// mapslist
$maplist-bg: #fff;
$maplist-border: #0a5472;

// map view
$dashboard-bg: rgba(0, 0, 0, .2);

$pattern-bg: #fff;

// mapsquare polygons
$ms-blue: #4285f4;
$ms-green: #00d490;
$ms-yellow: #ffcf50;
$ms-red: #da5847;

// mapsquare border:
$map-bg: #fff;
$map-border: #666;
$ms-bg: #fff;
$ms-border: #0a5472;

// gradients
// mapsquare
$ms-default-1: #e4f5fd;
$ms-default-2: #94d8f5;
$ms-default-3: #daf0fa;
$ms-default-4: #e7f4fa;
$ms-default-5: #f4f8fa;

// match
$ms-match-1: #db9cfa;
$ms-match-2: #e4b4fb;
$ms-match-3: #eccbfc;
$ms-match-4: #f4e2fc;
$ms-match-5: #fbf9fc;

// scores table
$scores-header-bg: #51376b;
$scores-odd-bg: #fff;
$scores-even-bg: #dcd3e8;
$scores-header-border: #fff;
$scores-body-border: #51376b;
