@mixin horizontal-centerer {
	left: 50%;
	position: relative;
	transform: translate(-50%, 0);
}

@mixin ms-gradient($color1, $color2) {
	background-image: linear-gradient(to right bottom, $color1, $color2);
}